.nav {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: rgb(19, 19, 19);
  color: #f6f6f6;

  .nav-brand-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-top: 15px;

    .nav-logo {
      width: 100%;
    }

    .nav-searchbar {
      background-color: transparent;
      border-color: #f6f6f6;
      border-width: 0 0 2px 0;
      padding: 5px;
    }
  }

  .nav-link {
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    &:visited {
      color: #f6f6f6;
    }
    &:hover {
      color: #202104;
      background-color: #ffffff;
      border-bottom: 2px solid #202104;
    }
  }

  .nav-links-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
}
