body {
  margin: 0;
  font-family: "Noto Serif Display", serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Leckerli One", cursive;
  }
}
